{% extends 'base.html' %}
{% block content %}
<section class="register section">
    <h1 class="title">Create an account</h1>
    <form method="POST" class="form">
        <h2 class="animated__title">Register</h2>
        {% csrf_token %}
        <div>
            {{form.username.label}}
            {{form.username}}
        </div>
        <div>
            {{form.email.label}}
            {{form.email}}
        </div>
        <div>
            {{form.phone.label}}
            {{form.phone}}
        </div>
        <div>
            {{form.address.label}}
            {{form.address}}
        </div>
        <div>
            {{form.password.label}}
            {{form.password}}
        </div>
        <div>
            {{form.confirm_password.label}}
            {{form.confirm_password}}
        </div>
        <button class="button log__btn" type="submit"> Sign Up </button>
        <small>
            Already have an account?,
            <span><a href="{% url 'login' %}">login</a></span>
        </small>
    </form>
</section>
{% endblock content %}