{% extends 'base.html' %}
{% block content %}
<section class="section">
    <h1 class="title">Search By Category </h1>
    <div class="cards">
        {% for product in products %}
            <div class="card">
                <div class="card__image">
                    {% if product.image %}
                    <img src="{{ product.image.url}}" alt="err" width="200px">
                    {% endif %}
                </div>
                <div class="card__content">
                    <h2>{{product.name}}</h2>
                    <h2>{{product.category}}</h2>
                    <p>{{product.price}} $</p>
                    <a href="{% url 'product_details' product.id %}">
                        <button>View product</button>
                    </a> 
                    <a href="{% url 'add_to_cart' product.id %}">
                        <button class="add__cart__btn">Add to cart</button>
                    </a> 
                </div>
            </div>
        {% empty%}
        <h2 class="title">
            No results found
        </h2>
        {% endfor%}    
    </div>
</section>


{% endblock content %}